html {
    background: black;
    color: white;
}

a {
    color: #6565ec;
}

button:focus {
    outline: none;
}

/* Set your aspect ratio */
.video-container {
  position: relative;
  overflow: hidden;
  height: 0;
  padding-bottom: 56.25%;
}

.video-container iframe,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-width: 100%;
}

.grid-container {
  display: grid;
  grid-template-rows: 50px auto 24px;
  grid-template-areas:
    "HeaderMenu"
    "Content"
    "Footer";
  height: 100vh;
}

.header-menu { grid-area: HeaderMenu; border: 1px solid rgb(188 18 64); }

.content {
  grid-area: Content;
  display: flex;
  align-items: center;
  border: 1px solid rgb(35 35 35);
}

.content .chat {
  flex: 1 1 25vw;
  height: 100%;
  position: relative;
  max-width: 0vw;
  transition: max-width 0.3s ease-out;
}

.content .chat[open] {
  max-width: 25vw;
}

.content .video {
  flex: 1 1 50vw;
  height: 100%;
  width: 100%;
}

.footer {
  grid-area: Footer;
  padding: 0 1rem;
  color: rgb(255, 255, 255);
}
