/* vertical breakpoint @ 400px */
html {
    background: black;
    color: white;
}

a {
    color: #6565ec;
}

body {
  background: rgb(34 35 35);
}

button:focus {
    outline: none;
}

.grid-container {
  display: grid;
  grid-template-rows: 50px auto 24px;
  grid-template-areas:
    "Controls"
    "Content"
    "Footer";
}

.moveable-event-sink {
  position: fixed;
  visibility: hidden;
  margin: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.moveable-control-box .moveable-line {
  background: none !important;
}

.controls {
  grid-area: Controls;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
}

.controls .chat-toggle {
  height: 32px;
  width: 32px;
  cursor: pointer;
}

.controls .chat-toggle:hover text tspan,
.controls .chat-toggle[data-active="true"] text tspan {
  fill: rgb(188 18 64);
}

.controls .chat-toggle.mirror-x path {
  transform: rotateY(180deg) translateX(-34px);
}

.controls .iwd-logo {
  width: 4.5rem;
  margin: 0 1rem;
  animation: 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1.5s 1 normal both running logo-scale;
}

.controls .live-view-flicker {
  font-weight: 700;
  font-size: 1.5rem;
  letter-spacing: 0.2rem;
  animation: 1s linear 0s 1 normal both running flicker;
}

@keyframes logo-scale {
  0% {
      -webkit-transform: scale(1.3);
      transform: scale(1.3);
      opacity: 0;
  }

  100% {
      -webkit-transform: scale(1);
      transform: scale(1);
      opacity: 1;
  }
}

@keyframes flicker {
  0% {
      opacity: 0;
      font-weight: 300;
  }
  10%, 10.2%, 20%, 20.6%, 30%, 30.6%, 45%, 55.1%, 57%, 60.1%, 65%, 75.1%, 77%, 85.1%, 86% {
      opacity: 0;
      text-shadow: none;
  }
  10.1% {
      opacity: 1;
      text-shadow: none;
      font-weight: 400;
  }
  20.1% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255,255,255,.25);
      font-weight: 300;
  }
  30.1%, 30.5%, 45.1%, 50%, 55% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255,255,255,.45), 0 0 60px rgba(255,255,255,.25);
  }
  77.1%, 85% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255,255,255,.55), 0 0 60px rgba(255,255,255,.4), 0 0 110px rgba(255,255,255,.2), 0 0 100px rgba(255,255,255,.1);
  }
  86.1%, 100% {
      opacity: 1;
      text-shadow: 0 0 3px rgba(255,255,255,.6), 0 0 6px rgba(255,255,255,.45), 0 0 11px rgba(255,255,255,.25), 0 0 10px rgba(255,255,255,.1);
      font-weight: 700;
  }
}


.content {
  grid-area: Content;
  display: flex;
  align-items: center;
  background: rgb(35 35 35);
  height: 100vh;
}

.content .chat {
  flex: 1 1 25vw;
  height: 100%;
  position: relative;
  max-width: 0vw;
  transition: max-width 0.3s ease-out;
}

.content .chat[open] {
  max-width: 25vw;
}

.content .video {
  flex: 1 1 50vw;
  height: 100%;
  width: 100%;
}

.twitch-video {
  position: absolute;
}

.twitch-video .moveable-control-box{
  height: 70%;
  width: 100%;
}

.twitch-video .moveable-area {
  height: 100% !important;
}

#twitch-player-div {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px
}

.footer {
  grid-area: Footer;
  padding: 0 1rem;
  color: rgb(255, 255, 255);
}
